body {
    font-family: 'Roboto Mono', monospace;
    color: #1a1a1a;
    background-color: #a89c94;
    /* padding-top: 65px; */
}

.bg-bottom {
    background-image: url(img/bg-top.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.lower-body{
    padding-top: 65px;
}

/* navbar */
.custom-nav {
    color: #1a1a1a;
    background-color: rgba(168, 156, 148, 0);
    width: 100vw;
    left: 0;
    position: fixed;
}

          
.custom-toggler.navbar-toggler {
    border: #a89c94;
}
          
.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(26, 26, 26)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

nav ul li {
    padding-left: 5px;
    padding-right: 5px;
}

nav a, nav ul li a {
    font-weight: bold;
    color: #1a1a1a;
    margin-right: 10px;
}

nav a:hover, nav ul li a:hover{
    color: antiquewhite;
}


@media (min-width: 1024px) {
    .bg-bottom {
        background-image: url(img/bg-top-tablet.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    h1 {
        text-align: left;
        font-size: 45px;
        font-weight: bolder;
        margin-top: 18vh;
        margin-left: 5vw;
    }

    h2 {
        text-align: left;
        font-size: 35px;
        font-weight: bold;
        margin-left: 5vw;
    }

    p {
        width: 60%;
        text-align: justify;
        margin-left: 5vw;
    }
}

@media (max-width: 858px) {
    .bg-bottom {
        background-image: url(img/bg-top-mobile.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .custom-nav {
        background-color: #a89c94;
    }

    h1{
        text-align: right; 
        margin-top: 38vh; 
        font-weight: bolder;
    }

    h2 {
        text-align: right; 
        font-size: 25px; 
        font-weight: bold;
    }

    p {
        text-align: justify;
    }

}

@media (min-width: 1440px) {
    .bg-bottom {
        background-image: url(img/bg-top-tablet.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    h1 {
        text-align: left;
        font-size: 50px;
        font-weight: bolder;
        margin-top: 18vh;
        margin-left: 5vw;
    }

    h2 {
        text-align: left;
        font-size: 40px;
        font-weight: bold;
        margin-left: 5vw;
    }

    p {
        width: 50%;
        text-align: justify;
        margin-left: 5vw;
    }
}
